
@media (max-width: 960px) {
	.capa-gradient {
		background-size: 320%;
	}
	.item-menu {
		padding: 10px 20px;
	}	
	.logo-menu img {
    	max-width: 80%;
	}
}
@media (max-width: 767px) {
	.menu {
		display: none;
	}
	.col-info {
		margin-bottom: 40px;
	}
	.container.links .col-md-4 {
		text-align: center;
		margin-bottom: 30px;
	}
	.col-logo {
		display: none;
	}
	.content-menu {
		text-align: right;
	}
	.capa-gradient {
    	background-size: 450%;
	}
	.title-home {
    	padding: 0px 70px;
	}
}
@media (max-width: 575px) {
	.rastreo, .social {
		display: none;
	}
	.logo {
    	width: 100%;
    	left: 0px;
    	text-align: center;
	}
	.capa-gradient {
    	background-size: 700%;
	}
	.info-home {
		top: 20vh;
	}
	.title-home {
    	padding: 0px 30px;
	}
	.frame-video iframe { 
		width: 100%;
    	height: auto;
	}
}
@media (max-width: 430px) {
	.capa-gradient {
    	background-size: 800%;
	}
	.clip-nosotros {
		-webkit-clip-path: ellipse(150% 80% at 50% 0%);
    	clip-path: ellipse(150% 80% at 50% 0%);
	}
	.section-acerca .txt-acerca {
    	margin-top: 100px;
	}
	.mask-envios {
    	height: 220px;
	}
	.mask-envios img {
		height: 280px;
    	object-fit: cover
	}
}
@media (max-height: 420px) {
	.capa-gradient {
    	background-size: 300%;
	}
}